$sidenav-background: #0e232c;
$color-white: #fff;
$color-black: #000;
$line: 1px solid rgba(255, 255, 255, 0.25);
$line-black: 1px solid rgba(0, 0, 0, 0.25);

$color-grey-light-1: #eee;
$color-grey-light-2: #c0c0c0;

$color-grey-dark-1: #aba0a0;
$color-green-dark: #23ce84;
$color-green-light: #32ed9c;

$green-gradient: linear-gradient(to bottom right, #51eca8, #5eddc6);
$green-gradient-dark: linear-gradient(to bottom right, #4dd99c, #49d3ba);

$shadow-long-light: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
$shadow-short-light: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
$shadow-long-dark: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
$shadow-short-dark: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.35);
